@extends('layouts.app')

@section('content')

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/banner/online-medicine-concept_160901-152.jpg" class="img-fluid" style="border:1px solid #ccc;">

        </div>   
        <div class="col-sm-6">
            <h2>Create an account & Book your appointment</h2>
            <p> With My Doctors application, you can easily create and account and book an appointment
                with a blink of an eye from the confort of your home. You can choose the right doctor for you
            based of their desciption and their availability that suits you. Say good bye to the old calls and negociations! </p>
            <div class="mt-5">
            <button class="btn btn-success">Register as Patient</button>
            <button class="btn btn-secondary">Login</button>
        </div>
        </div>
        
    </div>
    <hr>
    <section class="">
        <div class="card">
            <div class="card-header">Find Doctors</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control " id="datepicker"  name="date">
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary">Find doctors</button>
                        </div>

                    </div>
                </div>
                
            </div>

            <div class="card mt-1">
            <div class="card-header"> Doctors available today</div>
                <div class="card-body">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Photo</th>
                          <th scope="col">Name</th>
                          <th scope="col">Category</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <th scope="row">1</th>
                          <td><img src="/doctor/doctor.png" width="80" style="border-radius: 50%;">
                          </td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        <td>
                            <button class="btn btn-success">Book Appointment</button>
                        </td>
                        </tr>

                         <tr>
                          <th scope="row">1</th>
                          <td><img src="/doctor/doctor.png" width="80" style="border-radius: 50%;">
                          </td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        <td>
                            <button class="btn btn-success">Book Appointment</button>
                        </td>
                        </tr>


                      </tbody>
                    </table>

                    
                </div>
                
            </div>
        </div>
    </section>
</div>
 
        
@endsection
